.overlay-back {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(100,100,100,0.8);
    z-index: 1000;
}
.overlay-back.overlay-opaque {
    background-color: #BBB;
}
.overlay {
    position: fixed;
    width: 300px;
    left: 50%; margin-left: -150px;
    top: 30%;
}
.splash {
    padding: 10px;
    border: 1px dashed grey;
    background-color: #DDD;
    border-radius: 2px;
}
.splash img {
    display: block;
    width: 200px;
    margin-left: 50px;
}
.splash-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0.2em 0;
}
.splash-copy {
    margin-top: 0.5em;
    font-size: 0.8em;
    text-align: right;
}
.splash-actions {
    font-size: 0.9em;
    margin-left: 4.5px;
}
.splash-actions .ui-button .ui-button-text {
    padding: .2em 0.4em;
}

#content {
    margin-top: 30%;
    min-height: 60%;
    white-space: pre-wrap;
}

#content a {
    color: #FFF;
}

.message {
    position: fixed;
    color: #0AF;
    box-shadow: 0 0 4px grey;
    border-radius: 3px;
    background: rgba(96,96,96,0.8);
    z-index: 99;
    width: 60%; margin: 0 20%;
    top: 160px;
    font-size: 1.2em;
    text-align: center;
}

#warning {
    color: #FF0;
}

#dimensions {
    color: #00D6FF;
    font-size: 1.5em;
    font-weight: bold;
    top: auto;
    bottom: 80px;
}

.ui-widget {
    font-size: 1em;
}

.left-padding {
    margin-left: 10px;
}

.hide { display: none; }
.left { float: left; }
.right { float: right; }
span.right.buttons {
    padding: 1px 2px; }

body {
    overflow-x: hidden;
    font-family: Sans-Serif;
    margin: 0px;
}

@media print {
    html {
	background-color: #FFF;
    }
    #content {
	color: #000;
	margin: 10px !important;
	font-size: 0.95em !important;
    }
    .message, #toolbars {
	display: none;
    }
}

.ui-tooltip-content {
    font-size: 0.8em;
}

#more-dialog button {
    width: 98%;
}
#more-dialog .small {
    font-size: 0.8em;
}

.left-buttons {
    margin: 3px 10px;
}

.slider {
    display: inline-block !important;
    width: 200px;
    margin: 0 16px;
}

#toolbars {
    min-width: 768px;
    width: 99%;
    z-index: 99;
    position: fixed;
    top: 0px; left: 0.5%;
    cursor: auto !important;
}

.toolbar {
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    height: 48px;
    margin-top: 2px;
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,
					rgba(229,229,229,1) 100%);
    box-shadow: 0 2px 10px black;
}
.toolbar:first-of-type {
    margin-top: 0px;
    border-radius: 0 0 10px 10px;
}

:-webkit-full-screen #toolbars { display: none; }
:-moz-full-screen #toolbars { display: none; }
.preview #toolbars { display: block; }

#preview .ui-button-text:before { content: "Enter "; }
:-webkit-full-screen #preview .ui-button-text:before { content: "Leave "; }
:-moz-full-screen #preview .ui-button-text:before { content: "Leave "; }

#edit-margins:not(.working) .ui-button-text:before { content: "Adjust "; }
#edit-margins.working .ui-button-text:before { content: "Done Adjusting "; }

.toolbar select {
    border-radius: 4px;
    padding: 0.2em;
    font-size: 1.15em;
}

#content p {
    margin: 0 !important;
}

/*@media (max-width: 1054px) {
  /* rules that only apply for canvases narrower than 1000px * /
    .toolbar {
	min-width: 0;
	width: 98%;
	left: 1%;
	font-size: 0.8em;
	height: 41px;
    }
}*/

.reset-formatting {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }
.left-align { text-align: left; }
.right-align { text-align: right; }
.center-align { text-align: center; }

.server-load-dialog .ui-dialog-title:before {
    content: "Load a Script";
}
.server-save-dialog .ui-dialog-title:before {
    content: "Save this Script";
}
.server-load-dialog .ui-dialog-buttonset button:last-of-type .ui-button-text:before {
    content: "Load";
}
.server-save-dialog .ui-dialog-buttonset button:last-of-type .ui-button-text:before {
    content: "Save";
}
.server-load-dialog #save-name {
    display: none;
}
.server-save-dialog #save-name {
    box-sizing: border-box;
    width: 100%;
}

table.tablesorter {
    border-spacing: 1px;
    font-size: 1.1em;
}
table.tablesorter th:first-of-type {
    border-radius: 4px 0 0 0; }
table.tablesorter th:last-of-type {
    border-radius: 0 4px 0 0; }
table.tablesorter tbody tr {
    cursor: pointer;
}
table.tablesorter.script-selection-table tbody tr:not(.selected):hover td {
    background-color: #FFA;
}
table.tablesorter tbody tr.selected td {
    background-color: #FE9;
}

.autosave-table {
    border-radius: 2px;
    cursor: default;
}
.autosave-table button {
    font-size: 0.8em;
    cursor: button;
}
.autosave-table span {
    font-size: 1.1em;
    vertical-align: middle;
}
.autosave-table tr:first-child td:first-child {
    border-radius: 4px 0 0 0;
}
.autosave-table tr:first-child td:last-child {
    border-radius: 0 4px 0 0;
}
.autosave-table tr:last-child td:first-child {
    border-radius: 0 0 0 4px;
}
.autosave-table tr:last-child td:last-child {
    border-radius: 0 0 4px 0;
}

.autosave-table tr.selected {
    background-color: #FFA;
}


.dialog-message {
    font-size: 1.1em;
    font-style: italic;
}